.atfx-follow-us {
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    position: relative;
    padding-right: 11px;

    @media (min-width: 576px) {
      padding-right: 16px;
    }

    p {
      margin-bottom: 10px;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-top: -5px;
      width: 1px;
      height: 20px;
      background-color: #3e444b;
    }
  }

  &__socials {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    display: flex;
    @media (min-width: 576px) {
      padding-left: 15px;
    }
  }

  &__socials-item {
    margin-left: 8px;
    margin-bottom: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__socials-item-link {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: all 0.3s ease;

    span {
      color: hubl("$mainFontColor");
      transition: all 0.3s ease;
    }

    &:hover {
      span {
        color: #ffffff;
      }

      &.facebook-f {
        background-color: #3a549e;
      }

      &.instagram {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }

      &.twitter {
        background-color: #1da1f2;
      }

      &.linkedin-in {
        background-color: #007bb5;
      }

      &.youtube {
        background-color: #ff0000;
      }
    }
  }
}
