.atfx-step {
  display: flex;
  text-align: left;

  @media (min-width: 768px) {
    display: block;
    text-align: center;
  }

  &__icon {
    width: 42px;
    margin-right: 10px;

    @media (min-width: 768px) {
      width: auto;
      height: 72px;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &--mobile {
      display: block;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--desktop {
      position: relative;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 1px;
      left: 36px;
      top: 42px;
      height: 100%;
      background-color: #e2e2e2;
      z-index: -1;

      @media (min-width: 768px) {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
      }
    }
  }

  &__content {
  }

  &__title {
    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      display: block;
    }

    p {
      margin-bottom: 10px;

      @media (max-width: 767px) {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }

  &__rich-text {
    padding-left: 52px;

    @media (max-width: 767px) {
      p {
        font-size: 14px;
      }
    }

    @media (min-width: 768px) {
      padding-left: 0;
    }
  }
}

.atfx-step-column {
  position: relative;

  &:last-of-type {
    .atfx-step__icon {
      &::after {
        display: none;
      }
    }
  }
}
