.atfx-offer-boxes-container {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 576px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 992px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.atfx-offer-boxes {
  position: relative;

  &__separator {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    transform: translate(-50%, -50%);

    @media (min-width: 576px) {
      width: 94px;
      height: 94px;
      margin-top: -20px;
    }

    @media (min-width: 992px) {
      width: 120px;
      height: 120px;
    }

    &:after,
    &:before {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      content: "";
      width: 14px;
      height: 3px;
      border-radius: 4px;
      background-color: hubl("$orange");
      transform: translate(-50%, -50%);

      @media (min-width: 576px) {
        width: 19px;
        height: 5px;
      }

      @media (min-width: 992px) {
        width: 24px;
        height: 6px;
      }
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.atfx-offer-box {
  padding: 33px 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  min-height: 350px;
  width: 100%;

  @media (min-width: 576px) {
    min-height: 340px;
    padding: 33px 30px;
  }

  @media (min-width: 992px) {
    padding: 33px 60px;
    max-width: 550px;
    justify-content: space-around;

    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__title {
    @media (min-width: 992px) {
      margin-top: auto;
      margin-bottom: auto;
    }

    h3 {
      margin-bottom: 10px;

      @media (min-width: 992px) {
        margin-bottom: 4px;
      }

      br {
        @media (min-width: 568px) {
          display: none;
        }

        @media (min-width: 992px) {
          display: inline;
        }
      }

      strong {
        + br {
          display: inline;
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;

      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 8px;
      }
    }
  }

  &__rich-text {
    max-width: 526px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
      margin-top: 0;
      margin-bottom: auto;

      p {
        margin-bottom: 30px;
      }
    }
  }

  &__cta {
    .cta,
    .cta_button {
      width: 100%;
      max-width: 260px;

      @media (min-width: 576px) {
        min-width: 310px;
        width: auto;
      }
    }
  }
}
