.atfx-cta-section {
  background-color: #3e444b30;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #3e444b;

  &__column {
    position: relative;
    width: 100%;
    padding: 12px 20px 23px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 768px) {
      max-width: 50%;
      flex: 0 0 50%;
      padding: 12px 30px 23px;
    }

    @media (min-width: 992px) {
      padding: 12px 40px 14px 30px;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      width: calc(100% - 40px);
      height: 1px;
      background-color: #3e444b;

      @media (min-width: 768px) {
        top: 23px;
        left: auto;
        bottom: auto;
        right: 0;
        width: 1px;
        height: calc(100% - 46px);
      }

      @media (min-width: 992px) {
        top: 14px;
        height: calc(100% - 29px);
      }
    }

    &:nth-child(even) {
      @media (min-width: 992px) {
        padding: 12px 30px 14px 40px;
      }

      &:after {
        display: none;
      }
    }
  }

  &__column-title {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;

    @media (min-width: 992px) {
      width: auto;
      padding-right: 15px;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__column-cta {
    width: 100%;
    text-align: center;
    margin-top: auto;

    .cta,
    .cta_button {
      width: 100%;
      max-width: 220px;
      min-width: 0;

      @media (min-width: 768px) {
        width: auto;
        min-width: 240px;
        max-width: 100%;
      }
    }

    @media (min-width: 992px) {
      width: auto;
      margin-top: 0;
    }
  }
}
