.atfx-feature-box {
  &__icon {
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    // align-items: center !important;
  }

  &__title {
    p {
      margin-bottom: 5px;

      @media (max-width: 767px) {
        font-size: 14px;
      }

      br {
        display: none;

        @media (min-width: 992px) {
          display: inline;
        }
      }
    }
  }
}
