.atfx-hero-form-banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media (max-width: 991px) {
    background-image: none !important;
  }

  &__triangle-overlay {
    @media (min-width: 992px) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-image: url(https://f.hubspotusercontent00.net/hubfs/7990709/atfx/other/white-triangle2.svg);
      background-size: 100% 80px;
      height: 80px;
      box-shadow: 0 2px 0 #ffffff;
    }
  }

  &__content,
  &__form {
    position: relative;
  }

  &__content {
    padding-left: 13px;
    padding-right: 13px;

    @media (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content-column {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-width: 992px) {
      background-image: none !important;
    }
  }

  &__content-header {
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &__content-rich-text {
    max-width: 434px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 992px) {
      max-width: 100%;
      text-align: left;
    }

    ul {
      text-align: left;
      margin-bottom: 0;

      @media (min-width: 992px) {
        margin-bottom: 20px;
      }
    }

    h2 {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        font-size: 30px;
        line-height: 54px;
        margin-bottom: 0;
      }

      @media (min-width: 992px) {
        font-size: 36px;
        line-height: 55px;
        margin-bottom: 20px;
      }
    }
  }

  &__form-column {
    @media (max-width: 991px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &__form {
    position: relative;
    background-color: hubl("$lightGrey");
    padding: 28px 0 5px;

    @media (min-width: 576px) {
      padding: 28px 0 10px;
    }

    @media (min-width: 992px) {
      box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.28);
      padding: 28px 0 40px;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: calc(100% - 40px);
      left: 0;
      width: 100%;
      height: 80px;
      background-color: hubl("$lightGrey");
      box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.28);
      transform: rotate(-7deg);
      transform-origin: center;
      z-index: -1;

      @media (min-width: 576px) {
        transform: rotate(-4deg);
      }

      @media (min-width: 992px) {
        display: none;
      }
    }

    .form-title {
      position: relative;
      font-size: 22px;
      line-height: 30px;
      font-weight: normal;
      padding: 0 40px;
      padding-top: 2px;
      padding-bottom: 5px;
      max-width: 546px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @media (min-width: 992px) {
        font-size: 28px;
        line-height: 55px;
        padding-bottom: 3px;
      }

      @media (min-width: 992px) {
        max-width: 100%;
        font-size: 32px;
        text-align: left;
      }

      &:before {
        @media (min-width: 992px) {
          position: absolute;
          content: "";
          display: block;
          top: 0;
          left: 0;
          height: 100%;
          width: 10px;
          background-color: hubl("$orange");
        }
      }
    }

    form {
      padding: 0 30px;
      max-width: 546px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 768px) {
        padding: 0 40px;
      }

      .hs_error_rollup {
        display: none;
      }
    }

    .submitted-message {
      padding: 0 40px;
      font-size: 20px;
    }
  }
}
