.atfx-background-skew {
  position: relative;
  background-color: hubl("$lightGrey");

  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url(https://f.hubspotusercontent00.net/hubfs/7990709/atfx/other/white-triangle2.svg);
    background-size: 100% 30px;

    @media (min-width: 768px) {
      height: 50px;
      background-size: 100% 50px;
    }

    @media (min-width: 992px) {
      height: 80px;
      background-size: 100% 80px;
    }
  }

  &:before {
    top: 0;
    transform: scale(-1);
  }

  &:after {
    bottom: 0;
  }
}
