.footer-container-wrapper {
  .row-fluid [class*="span"] {
    min-height: 0;
  }
}

.atfx-footer {
  background-color: hubl("$footerBackgroundColor");
  color: #eeeeee;

  a:not(.cta):not(.cta_button) {
    color: #eeeeee;
  }

  &__top-section {
    position: relative;

    &:after {
      @media (min-width: 992px) {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 1px;
        left: 15px;
        width: calc(100% - 30px);
        background-color: #3e444b;
      }
    }
  }

  &__top-section-copyright {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__top-section-menu {
    text-align: center;

    .hs-menu-wrapper.hs-menu-flow-horizontal {
      ul {
        display: flex;
        justify-content: center;

        li {
          position: relative;
          padding-left: 15px;
          padding-right: 16px;
		  width: 100%;
		  display: flex;
		  align-items: center;
		  justify-content: center;

          &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            margin-top: 0;
            background-color: #3e444b;

            @media (min-width: 768px) {
              height: calc(100% - 12.5px);
            }
          }

          a {
            padding: 0;
            margin-bottom: 0;
            transition: all 0.3s ease;
            white-space: normal;

            @media (min-width: 768px) {
              margin-bottom: 10px;
              white-space: nowrap;
            }

            &:hover {
              color: hubl("$orange");
            }
          }

          &:last-of-type {
            padding-right: 15px;

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  &__header-section {
    p {
      margin-bottom: 10px;
    }

    a {
      text-decoration: underline;
    }
  }

  &__bottom-section {
    a {
      text-decoration: underline;
    }

    p {
      margin-bottom: 17px;
      @media (min-width: 992px) {
        margin-bottom: 20px;
      }
    }

    blockquote {
      background-color: #3e444b30;
      margin-bottom: 17px;
      @media (min-width: 992px) {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}
