.header-container-wrapper {
  .row-fluid [class*="span"] {
    min-height: 0;
  }
}

.atfx-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100% !important;
  text-align: center;

  @media (min-width: 992px) {
    text-align: left;
  }
}
