@mixin cta {
  display: inline-block;
  font-family: hubl("$font");
  text-decoration: none;
  box-sizing: border-box !important;
  vertical-align: top;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@mixin cta--1 {
  background-color: hubl("$orange");
  color: hubl("$white");
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.02px;
  border-radius: 4px;
  padding: 16px 10px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 1px 0px #d85c3a;
  transition: all 0.3s ease;
  min-width: 240px;
  text-align: center;

  @media (min-width: 576px) {
    padding: 16px 30px;
  }

  &:hover {
    background-color: #ff8055;
  }
}

@mixin cta--2 {
  background-color: #ebebeb;
  color: #4c4c4c;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.02px;
  border-radius: 4px;
  padding: 16px 10px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 1px 0px #333333;
  transition: all 0.3s ease;
  min-width: 240px;
  text-align: center;

  @media (min-width: 576px) {
    padding: 16px 30px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
