// button styles are declared as mixins in src/scss/extends/extends.scss

a.cta_button {
  box-sizing: border-box !important;
  vertical-align: top;
}

.cta_button,
.cta {
  @include cta;
}

.cta {
  &--1 {
    @include cta--1;
  }

  &--2 {
    @include cta--2;
  }
}
