.hs_cos_wrapper_type_blog_subscribe,
.hs_cos_wrapper_type_form,
.hs_cos_wrapper_type_blog_comments {
  h3 {
    margin: auto;
  }

  form {
    margin: auto;
    font-size: 14px;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea,
    .dropdown-header {
      font-size: inherit;
      line-height: inherit;
      font-family: hubl("$font");
      background-color: hubl("$white");
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      padding: 9.5px 12px 9.5px;
      display: inline-block;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      color: hubl("$mainFontColor");
      -webkit-appearance: none;
      transition: all 0.1s ease-out;
    }

    .bfi-container {
      border-color: hubl("$mainFontColor");

      &.bfi-container-active,
      &.hovering {
        border-color: hubl("$mainFontColor");
      }
    }

    textarea {
      display: block;
      float: left;
      resize: vertical !important;
      overflow: hidden;
    }

    input::-webkit-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
    }

    input::-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
      opacity: 1;
    }

    input:-ms-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
    }

    input:-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
      opacity: 1;
    }

    textarea::-webkit-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
    }

    textarea::-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
      opacity: 1;
    }

    textarea:-ms-input-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
    }

    textarea:-moz-placeholder {
      color: hubl_rgba("$mainFontColor", 0.5);
      opacity: 1;
    }

    select {
      display: none;
    }

    .dropdown-label {
      display: none;
    }

    .dropdown-header {
      cursor: pointer;
      position: relative;

      &:after {
        display: block;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #033333 transparent transparent transparent;
      }
    }

    .dropdown_select {
      position: relative;
      .dropdown-list {
        z-index: 2;
        position: absolute;
        top: 100%;
        margin-top: 0;
        transform: translateY(-2px);
        left: 0;
        width: 100%;
        max-height: 500px;
        padding: 0;
        background-color: hubl("$white");
        border: 1px solid #eeeeee;
        border-radius: 4px;

        li {
          background-color: hubl("$white");
          padding: 6px 12px;
          transition: all 0.3s ease;
          cursor: pointer;

          &.selected {
            pointer-events: none;
            cursor: default;
            background-color: hubl_rgba("$orange", 0.3);
            opacity: 0.5;
          }

          &:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &:hover {
            background-color: hubl_rgba("$orange", 0.3);
          }
        }
      }
    }

    .hs-fieldtype-select .input,
    .hs-fieldtype-intl-phone {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .hs-fieldtype-intl-phone {
      select,
      input[type="tel"] {
        width: 100% !important;
      }

      select {
        padding-right: 22px;
        margin-bottom: 10px !important;
      }

      @media (min-width: 768px) {
        select {
          width: calc(40% - 20px) !important;
          margin-bottom: 0 !important;
        }

        input[type="tel"] {
          width: 60% !important;
        }
      }
    }

    ul {
      margin-top: 4px;
      margin-bottom: 10px;

      li {
        position: relative;
      }
    }

    .inputs-list {
      list-style: none;
      padding-left: 26px;

      .hs-form-checkbox,
      .hs-form-radio {
        margin-bottom: 10px;

        &:first-of-type {
          margin-top: 16px;
        }
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: -26px;
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        cursor: pointer;
        transition: all 0.3s ease;

        &:before {
          position: absolute;
          display: block;
          content: "";
          width: 18px;
          height: 18px;
          border: 1px solid hubl("$orange");
          left: -26px;
          top: 0px;
          border-radius: 4px;
          background-color: hubl("$white");
          transition: all 0.1s ease-out;
        }

        &:after {
          display: block;
          content: "";
          width: 18px;
          height: 18px;
          position: absolute;
          background-image: url(https://f.hubspotusercontent00.net/hubfs/7990709/atfx/icons/icon_orange_checkmark.svg);
          background-size: 80%;
          background-position: center;
          background-repeat: no-repeat;
          left: -26px;
          top: 0px;
          z-index: 1;
          opacity: 0;
          transition: all 0.1s ease-out;
        }
      }
    }

    input[type="checkbox"]:checked {
      + span {
        &:before {
          border-color: hubl("$orange");
        }

        &:after {
          opacity: 1;
        }
      }
    }

    input[type="radio"] {
      position: absolute;
      z-index: 1;
      opacity: 0;
      cursor: pointer;

      + span {
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.3s ease;

        &:before {
          display: inline-block;
          content: "";
          width: 16px;
          height: 16px;
          border: 1px solid hubl("$white");
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: -30px;
          vertical-align: middle;
          transition: all 0.1s ease-out;
        }

        &:after {
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          background-color: hubl("$white");
          transform: scale(0.5);
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 3px;
          z-index: 1;
          opacity: 0;
          transition: all 0.1s ease-out;
        }
      }

      &:hover {
        + span {
          opacity: 1;
        }
      }
    }

    input[type="radio"]:checked {
      + span {
        opacity: 1;
        &:before {
          border-color: hubl("$orange");
        }

        &:after {
          opacity: 1;
        }
      }
    }

    .actions {
      display: inline-block;
      position: relative;
      width: 100%;
      text-align: center;
    }

    input[type="submit"] {
      @include cta;
      @include cta--1;
      -webkit-appearance: none;
      width: 100%;
      max-width: 280px;
      cursor: pointer;

      @media (min-width: 992px) {
        max-width: 100%;
      }
    }

    .hs_submit {
      &--disabled {
        input[type="submit"] {
          pointer-events: none;
          cursor: default;
          opacity: 0.5;
        }
      }
    }

    .hs-form-required {
      color: #d85c3a;
    }

    .hs-form-field {
      text-align: left;
      margin-bottom: 5px;
      width: 100%;
      float: left !important;

      @media (min-width: 768px) {
        margin-bottom: 10px;
      }

      > label {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;

        @media (min-width: 768px) {
          margin-bottom: 7px;
        }
      }
    }

    .hs-input {
      width: 100%;

      @media (max-width: 480px) {
        width: 100% !important;
      }
    }

    label {
      text-align: left;
      font-size: 13px;
    }

    .hs-error-msgs,
    .countryWarningMessage {
      font-size: 12px;
      text-align: left;
      list-style: none;
      padding: 0;
      color: #d85c3a;
      transition: 0.3s ease;
      margin-bottom: 0;

      a {
        word-break: break-all;
      }
    }

    .countryWarningMessage {
      margin-top: 4px;

      p {
        margin-bottom: 0;
      }
    }

    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
      border: 0;
      max-width: none;
      width: 100%;

      .hs-form-field {
        &:last-of-type {
          margin-right: 0;
        }

        .hs-input {
          width: 100%;
        }

        .input {
          margin-right: 0;
        }
      }

      &.form-columns-2 {
        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(50% - 15px);
            margin-right: 30px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &.form-columns-3 {
        .hs-form-field {
          width: 100%;

          @media (min-width: 768px) {
            max-width: calc(33.33% - 26.66px);
            margin-right: 40px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }

    .hs-recaptcha {
      margin-top: 20px;
    }

    .legal-consent-container {
      font-size: 12px;
      line-height: 21px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        margin-top: 4px;
      }

      p {
        font-size: 12px;
        margin-bottom: 4px;
        color: #707070;

        a {
          text-decoration: underline;
        }
      }

      .hs-form-booleancheckbox-display {
        > span {
          display: inline-block;
          margin-left: 0;
        }
      }

      // .inputs-list {
      //   padding-left: 22px;
      // }

      input[type="checkbox"] {
        & + span {
          &:before {
            top: 2px;
          }

          &:after {
            top: 2px;
          }
        }
      }

      .hs-error-msgs {
        margin-top: -8px;
        margin-bottom: 10px;
        font-size: inherit;

        label {
          color: #d85c3a;
        }
      }
    }
  }

  .submitted-message {
  }
}
