* {
  outline: none;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body .row-fluid [class*="span"] {
  min-height: 1px;
}

.body-container-wrapper {
  overflow: hidden;
}

// margin top
.mt {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      margin-top: #{$i * 5}px;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        margin-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        margin-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        margin-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        margin-top: #{$i * 5}px;
      }
    }
  }
}

// margin bottom
.mb {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      margin-bottom: #{$i * 5}px;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        margin-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        margin-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        margin-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        margin-bottom: #{$i * 5}px;
      }
    }
  }
}

// padding top
.pt {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      padding-top: #{$i * 5}px;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        padding-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        padding-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        padding-top: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        padding-top: #{$i * 5}px;
      }
    }
  }
}

// padding bottom
.pb {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      padding-bottom: #{$i * 5}px;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        padding-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        padding-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        padding-bottom: #{$i * 5}px;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        padding-bottom: #{$i * 5}px;
      }
    }
  }
}

// padding left
.pl {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      padding-left: #{$i * 5}px !important;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        padding-left: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        padding-left: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        padding-left: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        padding-left: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 1501px) {
    @for $i from 0 through 40 {
      &--xxl-#{$i*5} {
        padding-left: #{$i * 5}px !important;
      }
    }
  }
}

// padding right
.pr {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      padding-right: #{$i * 5}px !important;
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        padding-right: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        padding-right: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        padding-right: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        padding-right: #{$i * 5}px !important;
      }
    }
  }

  @media (min-width: 1501px) {
    @for $i from 0 through 40 {
      &--xxl-#{$i*5} {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

// margin bottom for modules in flexible column
.flex-mb {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      > span {
        > div {
          margin-bottom: #{$i * 5}px;
        }
      }
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        > span {
          > div {
            margin-bottom: #{$i * 5}px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        > span {
          > div {
            margin-bottom: #{$i * 5}px;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        > span {
          > div {
            margin-bottom: #{$i * 5}px;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        > span {
          > div {
            margin-bottom: #{$i * 5}px;
          }
        }
      }
    }
  }
}

// padding right for modules in flexible column
.flex-pr {
  @for $i from 0 through 40 {
    &--#{$i*5} {
      > span {
        > div {
          padding-right: #{$i * 5}px !important;
        }
      }
    }
  }

  @media (min-width: 576px) {
    @for $i from 0 through 40 {
      &--sm-#{$i*5} {
        > span {
          > div {
            padding-right: #{$i * 5}px !important;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    @for $i from 0 through 40 {
      &--md-#{$i*5} {
        > span {
          > div {
            padding-right: #{$i * 5}px !important;
          }
        }
      }
    }
  }

  @media (min-width: 992px) {
    @for $i from 0 through 40 {
      &--lg-#{$i*5} {
        > span {
          > div {
            padding-right: #{$i * 5}px !important;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    @for $i from 0 through 40 {
      &--xl-#{$i*5} {
        > span {
          > div {
            padding-right: #{$i * 5}px !important;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.bg {
  &--white {
    background-color: hubl("$white");
  }

  &--light-grey {
    background-color: hubl("$lightGrey");
  }
}