html {
  font-size: 12px;

  @media (min-width: 992px) {
    font-size: #{$browser-context}px;
  }
}

body {
  line-height: 1.64;
  font-family: hubl("$font");
  font-weight: normal;
  color: hubl("$mainFontColor");
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small,
.small {
  font-size: 80%;
}

strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

cite {
}

code {
}

pre {
}

sup,
sub {
  position: relative;
  font-size: 10px;
  line-height: 23px;
  font-weight: bold;
  color: hubl("$orange");
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: hubl("$fontHeaders");
  margin-top: 0;
  margin-bottom: 22px;

  a {
    color: inherit;
  }
}

h1,
.h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 46px;
    line-height: 54px;
    letter-spacing: 0.92px;
  }

  @media (min-width: 992px) {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1.04px;
    margin-bottom: 30px;
  }
}

h2,
.h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.03px;
  }

  @media (min-width: 992px) {
    font-size: 32px;
    line-height: 40px;
  }
}

h3,
.h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }

  @media (min-width: 992px) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 20px;
  line-height: 21px;
  font-weight: bold;
}

h5,
.h5 {
  font-size: 18px;
  line-height: 19px;
  font-weight: bold;
}

.widget-type-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

p {
  margin-top: 0;
  margin-bottom: 22px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 22px;

  ul {
  }

  ol {
  }
}

ul {
  list-style: none;
}

li {
}

blockquote {
  margin: 0;
  position: relative;
  padding: 10px 14px 0px 22px;
  display: inline-block;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding: 10px 30px 0px 28px;
  }

  &:before {
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    top: 0;
    content: "";
    display: block;
    background-color: hubl("$orange");
  }
}

a {
  text-decoration: none;
  background-color: transparent;
  color: hubl("$linksColor");

  &:hover {
    text-decoration: underline;
  }

  &:not([href]) {
    color: inherit;
    text-decoration: none;
  }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
  display: block;

  ul,
  ol {
    padding-left: 0;

    li {
      padding-left: 18px;
      margin-top: 0;
      margin-bottom: 0px;

      @media (min-width: 768px) {
        padding-left: 25px;
      }
    }
  }

  ul {
    list-style-type: none;
    list-style-position: outside;

    > li {
      position: relative;
      margin-bottom: 8px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5em;
        width: 12px;
        height: 9px;
        background-image: url("https://f.hubspotusercontent00.net/hubfs/7990709/atfx/icons/icon_orange_checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: 768px) {
          top: 0.66em;
        }
      }
    }
  }

  ol {
    list-style-type: none;
    list-style-position: outside;
    counter-reset: list;

    > li {
      counter-increment: list;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        color: hubl("$white");
        content: counter(list) ".";
        display: inline-block;
      }

      > ol {
        > li {
          padding-left: 35em;

          &:before {
            content: counters(list, ".") ".";
          }
        }
      }
    }
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-sm-center {
    @media (min-width: 576px) {
      text-align: center;
    }
  }

  &-md-center {
    @media (min-width: 768px) {
      text-align: center;
    }
  }

  &-lg-center {
    @media (min-width: 992px) {
      text-align: center;
    }
  }

  &-xl-center {
    @media (min-width: 1200px) {
      text-align: center;
    }
  }

  &-right {
    text-align: right;
  }

  &-sm-right {
    @media (min-width: 576px) {
      text-align: right;
    }
  }

  &-md-right {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  &-lg-right {
    @media (min-width: 992px) {
      text-align: right;
    }
  }

  &-xl-right {
    @media (min-width: 1200px) {
      text-align: right;
    }
  }

  &-left {
    text-align: left;
  }

  &-sm-left {
    @media (min-width: 576px) {
      text-align: left;
    }
  }

  &-md-left {
    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &-lg-left {
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  &-xl-left {
    @media (min-width: 1200px) {
      text-align: left;
    }
  }
}

.fc {
  &--white {
    color: hubl("$white");

    a:not(.cta):not(.cta_button),
    sup,
    sub {
      color: hubl("$white");
    }
  }
}

.fs {
  &--11 {
    font-size: 11px;
    line-height: 17px;

    li {
      line-height: 1;

      a {
        line-height: 17px;
      }
    }
  }

  &--12 {
    font-size: 12px;
    line-height: 21px;

    sup {
      line-height: inherit;
      vertical-align: baseline;
      top: -2px;
    }
  }

  &--16 {
    font-size: 12px;
    line-height: 21px;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 23px;
    }

    @media (min-width: 992px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &--20 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.36px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0;;
    }

    @media (min-width: 992px) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  &--22 {
    font-size: 14px;
    line-height: 20px;

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 32px;
    }

    @media (min-width: 992px) {
      font-size: 22px;
      line-height: 36px;
    }

    sup,
    sub {
      font-size: 12px;
    }
  }
}
